@(essentials: viewModels.EssentialFieldsViewModel, info: viewModels.CoursePlanViewModel, form : Form[forms.CloToPloMapFormData],
unlinkedPloList: List[ProgrammeLearningOutcome], numberOfCloToPloMaps: Integer, navList: List[viewModels.CourseActivationViewModel]
, subjectStateList: List[viewModels.LecturerSubjectsStateViewModel])(implicit requestHeader: Http.RequestHeader, messages: play.i18n.Messages)

@link = @{
viewModels.BreadCrumbViewModel.build
.add(essentials.programme, "")
.add(essentials.courseName, "")
.add("Course Plan", "")
.toList()
}

<!DOCTYPE html>
<html lang="en">
<head>
    @views.html.common.headMeta("Course Information Details")
</head>
<body>
@views.html.common.sideBar(essentials.userId, essentials.username, subjectStateList) {

@views.html.common.breadcrumb(link)
    <div class="container mt-5">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                @for(item <- navList) {
                @if(item.isActive) {
                <a href="/lecturer/@essentials.userId/courseInformation/@item.courseId/details" methods="get" class="nav-link active" type="button" role="tab" aria-selected="true">@item.programme</a>
                } else {
                <a href="/lecturer/@essentials.userId/courseInformation/@item.courseId/details" methods="get" class="nav-link" id="nav-profile-tab" type="button" role="tab" aria-selected="false">@item.programme</a>
                }
                }
            </div>
        </nav>
        <div class="card mt-3">
            <div class="card-header">
                Course Plan
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p>PROGRAMME</p>
                    </div>
                    <div class="col">
                        <p>@info.programme</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>COURSE CODE</p>
                    </div>
                    <div class="col">
                        <p>@info.courseCode</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>COURSE NAME</p>
                    </div>
                    <div class="col">
                        <p>@info.courseName</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>SEMESTER</p>
                    </div>
                    <div class="col">
                        <p>@info.semester</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>INTAKE BATCH</p>
                    </div>
                    <div class="col">
                        <p>@info.intakeBatch</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>LECTURER</p>
                    </div>
                    <div class="col">
                        <p>@info.lecturerName</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>COURSE TYPE</p>
                    </div>
                    <div class="col">
                        <p>@info.courseType</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        CLO to PLO mapping
                    </div>
                    <div class="col text-right">
                        @if(numberOfCloToPloMaps < 8) {
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Create New Map
                        </button>
                        } else {
                        <button type="button" class="btn btn-sm btn-secondary" disabled>
                            Create New Map
                        </button>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if(form.hasGlobalErrors){
                <div class="alert alert-warning">
                    @for(error <- form.globalErrors){
                    <span>@error.message</span>
                    }
                </div>
                }

                @if(info.cloToPloMapperList.size() == 8) {
                <div class="alert alert-secondary">
                    <div class="row">
                        <div class="col">
                            <p>You've reached maximum number of CLO to PLO mapping. Click the button to continue to fill up assessments information.</p>
                        </div>
                        <div class="col">
                            <a href="/lecturer/@essentials.userId/courseInformation/@info.courseId/details/assessmentInformation" type="button" class="btn btn-sm btn-secondary float-right">
                                Continue to Fill Up Assessments Information
                            </a>
                        </div>
                    </div>
                </div>
                }
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Programme Learning Outcome</th>
                        <th scope="col">Course Learning Outcome</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if(info.cloToPloMapperList.size() > 0) {
                    @for(clo <- info.cloToPloMapperList) {
                    <tr>
                        <td>
                            @clo.ploCode _ @clo.ploTitle
                        </td>
                        <td>
                            @clo.cloCode _ @clo.cloTitle
                        </td>
                        <td>
                            <a href="/lecturer/@essentials.userId/courseInformation/@info.courseId/details/@clo.cloId/editMap" class="btn btn-link">
                                        <span class="text-secondary">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                            </a>
                        </td>
                        <td>
                            <form method="post" class="show-confirm" data-file="@clo.ploCode To @clo.cloTitle" action="/lecturer/@essentials.userId/courseInformation/@info.courseId/details/@clo.cloId/deleteMap">
                                <button type="submit" class="btn btn-link">
                                            <span class="text-secondary">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    }
                    } else {
                    <tr>
                        <td colspan="5" class="text-center">
                            <div class="alert alert-secondary" role="alert">
                                There is no CLO to PLO mapping yet. <br><br>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                                    Create New Map
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                @if(info.cloToPloMapperList.size() >= 3 && info.cloToPloMapperList.size() <= 8) {
                <a href="/lecturer/@essentials.userId/courseInformation/@info.courseId/details/assessmentInformation" type="button" class="btn btn-sm btn-secondary float-right">
                    Continue to Fill Up Assessments Information
                </a>
                } else {
                <span class="d-inline-block float-right" tabindex="0" data-bs-toggle="tooltip" title="To continue, you must have at least 3 pairs of CLOs and PLOs.">
                    <button class="btn btn-sm btn-secondary" type="button" disabled>Continue to Fill Up Assessments Information</button>
                </span>
                }
            </div>
        </div>

    </div>
}



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Map CLO to PLO</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post">
                    <label>Plo</label>
                    <select class="form-control" name="ploCode">
                        @if(unlinkedPloList.size() > 0) {
                        @for(plo <- unlinkedPloList) {
                        <option value="@plo.code">@plo.code _ @plo.title</option>
                        }
                        }
                    </select>

                    <label>Clo Code</label>
                    <input type="text" class="form-control" name="cloCode" required>

                    <label>Clo Title</label>
                    <input type="text" class="form-control" name="cloTitle" required>

                    <button type="submit" class="btn btn-secondary mt-3">Save Map</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src='@routes.Assets.versioned("javascripts/confirm-box.js")'></script>
</body>
</html>

