@(essentials: viewModels.EssentialFieldsViewModel, courseInformation: models.CourseInformation,
studentList: List[models.Student], form: Form[forms.StudentInfoFormData],
subjectStateList: List[viewModels.LecturerSubjectsStateViewModel])(implicit requestHeader: Http.RequestHeader, messages: play.i18n.Messages)

@link = @{
viewModels.BreadCrumbViewModel.build
.add("Manage Students", "")
.toList()
}

<!DOCTYPE html>
<html lang="en">
<head>
    @views.html.common.headMeta("Course Information Details")
</head>
<body>
@views.html.common.sideBar(essentials.userId, essentials.username, subjectStateList) {
@views.html.common.breadcrumb(link)

    <div class="container mt-5 p-0">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        Students
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Add New Student
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if(form.hasGlobalErrors){
                <div class="alert alert-warning">
                    @for(error <- form.globalErrors){
                    <span>@error.message</span>
                    }
                </div>
                }
                <table class="table">
                    <thead>
                    <th>Student ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Programme</th>
                    <th>Current Semester</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    @for(std <- studentList) {
                    <tr>
                        <td>@std.codeNumber</td>
                        <td>@std.firstName @std.lastName</td>
                        <td>@std.gender</td>
                        <td>@std.program</td>
                        <td>@std.currentSemester</td>
                        <td>@std.email</td>
                        <td>
                            <a href="/lecturer/@essentials.userId/courseInformation/@std.courseInformationId/details/assessmentInformation/studentInformation/@std.id/editStudent"
                               class="btn btn-link" >
                                        <span class="text-secondary">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                            </a>
                        </td>
                        <td>
                            <form method="post" class="show-confirm" data-file="@std.firstName @std.lastName" action="/lecturer/@essentials.userId/courseInformation/@std.courseInformationId/details/assessmentInformation/studentInformation/@std.id/deleteStudent">
                                <button type="submit" class="btn btn-link">
                                            <span class="text-secondary">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    }
                    @if(studentList.size == 0) {
                    <tr>
                        <td colspan="8" class="text-center">
                            <div class="alert alert-secondary" role="alert">
                                There is no student yet. <br><br>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                                    Add New Student
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Student's Information</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" id="studentForm" autocomplete="off">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <label>Student ID</label>
                    <input type="text" class="form-control" name="codeNumber" maxlength="10" required>

                    <label>First Name</label>
                    <input type="text" class="form-control" minlength="3" name="firstName" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' required>

                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" minlength="3" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' required>

                    <label>Gender</label>
                    <select name="gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                    <label>Current Semester</label>
                    <select name="currentSemester" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        @if(!courseInformation.programme.equals("Bachelor of Computer Science (Hons)")) {
                            <option value="7">7</option>
                            <option value="8">8</option>
                        }
                    </select>

                    <label>Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>

                    <button type="button" id="saveStudentBtn" class="btn btn-secondary mt-3">Save Student</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src='@routes.Assets.versioned("javascripts/confirm-box.js")'></script>

</body>
</html>