@(userId: Long, username: String, image: String, studentList: List[models.Student],
form: Form[forms.StudentInfoFormData],
subjectStateList: List[viewModels.LecturerSubjectsStateViewModel], courseId: Long, studentWithCourse: Map[Long, List[String]]
)(implicit requestHeader: Http.RequestHeader, messages: play.i18n.Messages)

@link = @{
viewModels.BreadCrumbViewModel.build
.add("Student List", "")
.toList()
}

<!DOCTYPE html>
<html lang="en">
<head>
    @views.html.common.headMeta("Course Information Details")
</head>
<body id="body-pd">
@views.html.common.sideBar(userId, username, image, subjectStateList) {
@views.html.common.breadcrumb(link)

    <div class="container mt-5 p-0">
        @if(courseId >0) {
            <a methods="get" href="/lecturer/@userId/courseInformation/@courseId/details/assessmentInformation/studentCourseMap" type="button" class="link mb-2">
                <i class='bx bx-arrow-back'></i> Go To Recent Marks Entry<br>
            </a>
        }
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        Students
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Add New Student
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <div id="studentChartDiv" data-lecturerId="@userId"></div>
                        <canvas id="studentChart"  style="width:100%;max-width:600px"></canvas>
                    </div>
                </div>

                <hr>

                <form method="get" action="/lecturer/@userId/studentList">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" name="studentId" class="form-control" placeholder="Search By Student ID" aria-label="Search By Student ID" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <a href="/lecturer/@userId/studentList" class="btn btn-outline-secondary" type="button">Reset</a>
                        </div>
                    </div>
                </form>

                @if(form.hasGlobalErrors){
                    <div class="alert alert-warning">
                        @for(error <- form.globalErrors){
                            <span>@error.message</span>
                        }
                    </div>
                }
                <table class="table">
                    <thead>
                    <th>Student ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Current Semester</th>
                    <th>Current Courses</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    @if(studentList.size() > 0 ){
                        @for(std <- studentList) {
                        <tr>
                            <td>@std.codeNumber</td>
                            <td>@std.firstName @std.lastName</td>
                            <td>@std.gender</td>
                            <td>@std.email</td>
                            <td>@std.currentSemester</td>
                            <td>
                                <ol>
                                    @if(studentWithCourse != null && studentWithCourse.size() > 0){
                                    @for(sub <- studentWithCourse.get(std.id)){
                                    <li>@sub</li>
                                    }
                                    }
                                </ol>
                            </td>
                            <td>
                                <a href="/lecturer/@userId/studentList/@std.id/editStudent"
                                   class="btn btn-link" >
                                            <span class="text-secondary">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                </a>
                            </td>
                            <td>
                                <form method="post" class="show-confirm" data-file="@std.firstName @std.lastName"
                                      action="/lecturer/@userId/studentList/@std.id/deleteStudent">
                                    <button type="submit" class="btn btn-link">
                                                <span class="text-secondary">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    } else {
                    <tr>
                        <td colspan="8" class="text-center">
                            <div class="alert alert-secondary" role="alert">
                                There is no student yet. <br><br>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                                    Add New Student
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Student's Information</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" id="studentForm" action="/lecturer/@userId/studentList" autocomplete="off">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <label>Student ID</label>
                    <input type="text" class="form-control" name="codeNumber" id="codeNumber" maxlength="10" required>

                    <label>First Name</label>
                    <input type="text" class="form-control" minlength="3" name="firstName" id="firstName" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' required>

                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" minlength="3" id="lastName" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' required>

                    <label>Gender</label>
                    <select name="gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                    <label>Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>

                    <label>Current Semester</label>
                    <input type="text" class="form-control" name="currentSemester" id="currentSemester" required>

                    <button type="button" id="saveStudentBtn" class="btn btn-secondary mt-3">Save Student</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src='@routes.Assets.versioned("javascripts/confirm-box.js")'></script>
<script src='@routes.Assets.versioned("javascripts/student-chart.js")'></script>

</body>
</html>