@(essentials: viewModels.EssentialFieldsViewModel, courseInformation: models.CourseInformation,
studentList: List[models.Student],
subjectStateList: List[viewModels.LecturerSubjectsStateViewModel], unmappedStudentList: List[models.Student]
)(implicit requestHeader: Http.RequestHeader, messages: play.i18n.Messages)

@link = @{
viewModels.BreadCrumbViewModel.build
.add(essentials.programme, "")
.add(essentials.courseName, "")
.add("Course Plan", routes.CourseInformationController.showCourseInformationDetails(essentials.userId, courseInformation.id).url)
.add("Assignment", routes.CourseInformationController.showAssessmentInformationForm(essentials.userId, courseInformation.id).url)
.add("Marks Entry", routes.CourseInformationController.showStudentMarksEntryForm(essentials.userId, courseInformation.id).url)
.add("Student List", "")
.toList()
}

<!DOCTYPE html>
<html lang="en">
<head>
    @views.html.common.headMeta("Course Information Details")
</head>
<body id="body-pd">
@views.html.common.sideBar(essentials.userId, essentials.username, essentials.image, subjectStateList) {
@views.html.common.breadcrumb(link)

    <div class="container mt-5 p-0">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        Students
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Add Student
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>Student ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Programme</th>
                    <th>Current Semester</th>
                    <th>Email</th>
                    <th></th>
                    </thead>
                    <tbody>
                    @for(std <- studentList) {
                    <tr>
                        <td>@std.codeNumber</td>
                        <td>@std.firstName @std.lastName</td>
                        <td>@std.gender</td>
                        <td>@std.program</td>
                        <td>@std.currentSemester</td>
                        <td>@std.email</td>
                        <td>
                            <form method="post" class="show-confirm" data-file="@std.firstName @std.lastName" action="/lecturer/@essentials.userId/courseInformation/@courseInformation.id/details/assessmentInformation/studentCourseMap/studentList/@std.id/removeStudent">
                                <button type="submit" class="btn btn-link">
                                            <span class="text-secondary">
                                                <i class="fas fa-user-minus"></i>
                                            </span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    }
                    @if(studentList.size == 0 && unmappedStudentList.size == 0) {
                        <tr>
                            <td colspan="8" class="text-center">
                                <div class="alert alert-secondary" role="alert">
                                    There is no student at all . Go to 'Manage Students' to add new students.<br><br>
                                    <a href="/lecturer/@essentials.userId/studentList" type="button" class="btn btn-sm btn-secondary">
                                        Manage Students
                                    </a>
                                </div>
                            </td>
                        </tr>
                    } else if(studentList.size == 0) {
                        <tr>
                            <td colspan="8" class="text-center">
                                <div class="alert alert-secondary" role="alert">
                                    There is no student defined for this course. Click the button below to select student.<br><br>
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                                        Add Student
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Student</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post">

                    <label>Student ID</label>
                    <input name="studentId" id="studentId" hidden>
                    <select type="select" class="form-control" name="codeNumber" id="codeNumber">
                            <option disabled>Select Student ID</option>
                            @for(std <- unmappedStudentList) {
                                <option value="@std.id"
                                        data-first="@std.firstName"
                                        data-last="@std.lastName"
                                        data-gender="@std.gender"
                                        data-email="@std.email">@std.codeNumber</option>
                            }
                    </select>

                    <label>First Name</label>
                    <input type="text" class="form-control" id="firstName" disabled>

                    <label>Last Name</label>
                    <input type="text" class="form-control" id="lastName" disabled>

                    <!--<label>Gender</label>
                    <input type="text" class="form-control" id="gender" disabled>
-->
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" disabled>
<!--
                    <label>Current Semester</label>
                    <input type="text" class="form-control" id="currentSemester" disabled>-->

                    <button type="submit" class="btn btn-secondary mt-3">Save Student</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" src='@routes.Assets.versioned("javascripts/table-cell-edit.js")'></script>
</body>
</html>