@(userId: Long, username: String, image: String, form : Form[forms.StudentInfoFormData], student: models.Student
, subjectStateList: List[viewModels.LecturerSubjectsStateViewModel]
)(implicit requestHeader: Http.RequestHeader, messages: play.i18n.Messages)

@link = @{
viewModels.BreadCrumbViewModel.build
.add("Student List", routes.CourseInformationController.showStudentList(userId).url)
.add(student.codeNumber, "")
.toList()
}

<!DOCTYPE html>
<html lang="en">
<head>
    @views.html.common.headMeta("Edit Student Information")
</head>
<body id="body-pd">
@views.html.common.sideBar(userId, username, image, subjectStateList) {
@views.html.common.breadcrumb(link)
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Edit Student Information
            </div>
            <div class="card-body">
                @if(form.hasGlobalErrors){
                <div class="alert alert-warning">
                    @for(error <- form.globalErrors){
                    <span>@error.message</span>
                    }
                </div>
                }
                <form method="post" id="studentForm" autocomplete="off">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <label>Student ID</label>
                    <input type="text" class="form-control" name="codeNumber" id="codeNumber" value="@student.codeNumber" required>

                    <label>First Name</label>
                    <input type="text" class="form-control" id="firstName" value="@student.firstName" name="firstName"onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' required>

                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" value="@student.lastName"  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' required>

                    <label>Gender</label>
                    <select name="gender" class="form-control">
                        @if(student.gender.equals("Male")){
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                        } else {
                        <option value="Male">Male</option>
                        <option value="Female" selected>Female</option>
                        }

                    </select>

                    <label class="mt-2">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="@student.email" required>

                    <label>Current Semester</label>
                    <input type="text" class="form-control" name="currentSemester" value="@student.currentSemester" id="currentSemester" required>

                    <button type="button" id="saveStudentBtn" class="btn btn-secondary mt-3 mr-2">Save Student</button>
                    <a href="/lecturer/@userId/studentList/@student.id/editStudent" class="btn btn-outline-secondary mt-3">Cancel</a>
                </form>
            </div>
        </div>
    </div>
}

<script src='@routes.Assets.versioned("javascripts/confirm-box.js")'></script>

</body>
</html>