<div style="background-color:#83c4d8">
    <div class="p-3">
        <div class="row">
            <div class="col text-center">
                <img src='@routes.Assets.versioned("images/blue-logo.png")' style="width:150px;">
            </div>
            <div class="col">
                <h5><u>About MOBE</u></h5>
                <p>MOBE is web based Information system which facilitates Institutes to manage quality of education using Outcome Based Education (OBE) Methodology.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <small>&#169;2022. All rights reserved.</small>
        </div>
    </div>
</div>