@(userId: Long, username: String, subjectStateList: List[viewModels.LecturerSubjectsStateViewModel])(content: Html)

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/lecturer/@userId/dashboard" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">MOBESys</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/lecturer/@userId/dashboard" class="nav-link align-middle px-0">
                            <i class="fas fa-chart-line"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="far fa-folder-open"></i> <span class="ms-1 d-none d-sm-inline">Courses</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li>
                                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fas fa-tasks"></i> <span class="ms-1 d-none d-sm-inline">Uncompleted Courses</span></a>
                                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                    @for(subject <- subjectStateList) {
                                        @if(!subject.isCompleted) {
                                            <li class="w-100">
                                                <a href="@subject.currentPageUrl" class="nav-link px-0"> <span class="d-none d-sm-inline">@subject.courseName <span class="badge bg-secondary">@subject.courseCode</span></span></a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fas fa-check"></i> <span class="ms-1 d-none d-sm-inline">Completed Courses</span></a>
                                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    @for(subject <- subjectStateList) {
                                        @if(subject.isCompleted) {
                                            <li class="w-100">
                                                <a href="@subject.currentPageUrl" class="nav-link px-0"> <span class="d-none d-sm-inline">@subject.courseName <span class="badge bg-secondary">@subject.courseCode</span></span></a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/lecturer/@userId/studentList" class="nav-link align-middle px-0">
                            <i class="fas fa-users"></i> <span class="ms-1 d-none d-sm-inline">Manage Students</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="far fa-file"></i> <span class="ms-1 d-none d-sm-inline">Requests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/lecturer/@userId/requests/my" class="nav-link align-middle px-0">
                            <i class="fas fa-file-export"></i> <span class="ms-1 d-none d-sm-inline">My Requests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/lecturer/@userId/requests/others" class="nav-link align-middle px-0">
                            <i class="fas fa-file-import"></i> <span class="ms-1 d-none d-sm-inline">Others Requests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/lecturer/@userId/completedSubjects" class="nav-link align-middle px-0">
                            <i class="fas fa-chart-bar"></i> <span class="ms-1 d-none d-sm-inline">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/resetPassword" class="nav-link align-middle px-0">
                            <i class="fas fa-key"></i> <span class="ms-1 d-none d-sm-inline">Reset Password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link align-middle px-0">
                            <i class="fas fa-sign-out-alt"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">@username</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" methods="get" href="/resetPassword">Reset Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            @content
        </div>
    </div>
</div>



